.terraform/providers/registry.terraform.io/hashicorp/aws/5.44.0/windows_amd64/terraform-provider-aws_v5.44.0_x5.exe
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/random/3.6.0/windows_amd64/terraform-provider-random_v3.6.0_x5.exe
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/time/0.11.1/windows_amd64/terraform-provider-time_v0.11.1_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/5.45.0/windows_amd64/terraform-provider-aws_v5.45.0_x5.exe
.terraform
templates/cleanup.zip
templates/zones.tpl
templates/zones.tpl
